@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', "Malgun Gothic", sans-serif;
}
body{
  
  display: flex;
  align-items: center;
  padding: 0 50px;

  min-height: 100vh;
  background: #ffffff;
}
.box-wrap{
  width: 100%;
	display: flex;
	flex-direction: column;
}

.menu-section
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 7%;
	display: flex;
	flex-direction: row;
  align-items: center;
	justify-content: space-between;
	background: rgb(73, 255, 32)
}
#span1 img {
  max-width: 100%; 
  height: 60px; 
}
.menu-button
{	
	max-width: 90%; 
	height: auto;
}
.button
{
	margin :3px;
	width : 100px;
	height :40px;
	border-radius:5px;
	background-color: #dadada;
	border-color: #dadada;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;

}
.option-wrapper{
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.empty{
  flex:auto;
  width: 10%;
}

.wrapper{

    margin-right : 50px;
    margin-left : 100px;
  	
    width : 100%;
  	background: #fff;
  	border-radius: 10px;
  	box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    border: solid 6px #2fff28;
}

.memo{
  margin-left : 200px;
  margin-right : 100px;
  width : 50%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  border: solid 6px #2fff28;
}
.memo h3{
  margin-bottom: 10px;
}
.memo textarea{}

.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #a4a4a4;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.mypage-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-menu {
  
  width: 200px;
  flex-direction: column;
  
}
.border{
  margin-right: 10px;
  width : 1px ;
  height: 60vw;
  border: 1px solid #696969;
}
.left-menu ul{
  list-style: none;
  padding: auto;
  margin : auto;
}

.left-menu p{
  margin-bottom: 20px;
}

.menu-main{
  width: 100%;
  text-align: center;
 
}
.menu-main h3 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.menu-main p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}